.list-container {
  display: flex;
  margin: 0 10vw 5vh 10vw;
  min-height: 100vh;
  box-shadow: 5px 10px 8px #888888;
  background-color: khaki;
  border-radius: 5px;
}

body {
  height: 100vh;
  background-color: #dadbd3;
}

.todo-list {
  flex-basis: 50%;  
  border-right-style: solid;
  text-align: center;
}

.completed {
  flex: 0.5;
  text-align: center;
}

.form {
  display: flex;
  padding: 2vh 0 2vh;
  justify-content: center;
  margin: 0 auto;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; 
}

.todo-item {
}

.todo-button {
  position: absolute;
  top: 0;
  right: 0;
}