.list-container {
  margin: 0 10vw 5vh 10vw;
  min-height: 100vh;
  box-shadow: 5px 10px 8px #888888;
  background-color: khaki;
  border-radius: 5px;
  display: flex;
  font-weight: bold;
  font-size: 24px;
}

body {
  height: 100vh;
  background-color: #dadbd3;
}

.todo-list {
  border-right-style: solid;
  text-align: center;
  width: 50%;
  word-break: break-all;
  padding: 0 10px 0 10px;
}

.completed {
  text-align: center;
  width: 50%;
  word-break: break-all;
  padding: 0 10px 0 10px;
}

.form {
  display: flex;
  padding: 2vh 0 2vh;
  justify-content: center;
  margin: 0 auto;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  border-style: solid;
  margin: 10px 0 20px 0;
  background-color: #03fca5;
  box-shadow: 5px 5px 8px #888888;
}

.todo-item {
  padding: 5px 90px 10px 90px;
  cursor: pointer;
  font-size: 16px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
